In [1]:
import pandas as pd

In [17]:
radar = pd.read_csv("./radars.csv")

In [24]:
groupby = radar[["vitesse_vehicules_legers_kmh", "annee_installation", "departement"]].groupby(["annee_installation","vitesse_vehicules_legers_kmh"]).count()
groupby.reset_index()

    annee_installation  vitesse_vehicules_legers_kmh  departement
0                 2003                          50.0            3
1                 2003                          70.0            8
2                 2003                          80.0            5
3                 2003                          90.0            8
4                 2003                         110.0            6
5                 2003                         130.0            3
6                 2004                          50.0            6
7                 2004                          70.0           21
8                 2004                          80.0           20
9                 2004                          90.0           15
10                2004                         110.0            6
11                2004                         130.0            2
12                2005                          30.0            2
13                2005                          50.0           49
14                2005                          70.0           53
15                2005                          80.0          179
16                2005                          90.0           51
17                2005                         110.0           27
18                2005                         130.0            1
19                2006                          50.0           12
20                2006                          70.0           26
21                2006                          80.0           72
22                2006                          90.0           24
23                2006                         110.0           14
24                2006                         130.0            7
25                2007                          50.0           11
26                2007                          70.0           41
27                2007                          80.0          121
28                2007                          90.0           31
29                2007                         110.0           19
..                 ...                           ...          ...
61                2013                          50.0           11
62                2013                          70.0           23
63                2013                          80.0           57
64                2013                          90.0           32
65                2013                         110.0           35
66                2013                         130.0           17
67                2014                          50.0           10
68                2014                          70.0           11
69                2014                          80.0           36
70                2014                          90.0           19
71                2014                         110.0           20
72                2014                         130.0           13
73                2015                          70.0            7
74                2015                          80.0           13
75                2015                          90.0           11
76                2015                         110.0            5
77                2015                         130.0            6
78                2016                          50.0            1
79                2016                          70.0            5
80                2016                          80.0           11
81                2016                          90.0           14
82                2016                         110.0           68
83                2016                         130.0           37
84                2017                          50.0            2
85                2017                          70.0            3
86                2017                          80.0            3
87                2017                          90.0            7
88                2017                         110.0           30
89                2017                         130.0            6
90                2018                         110.0            7

[91 rows x 3 columns]

In [21]:
len(radar.annee_installation.unique())

16